@font-face {
  font-family: 'Exo 2.0 Thin';
  src: url('fonts/Exo20-Thin.eot');
  src: url('fonts/Exo20-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Exo20-Thin.woff') format('woff'),
    url('fonts/Exo20-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS Regular';
  src: url('fonts/TrebuchetMS.eot');
  src: url('fonts/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
    url('fonts/TrebuchetMS.woff') format('woff'),
    url('fonts/TrebuchetMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Trebuchet MS Bold';
  src: url('fonts/TrebuchetMS-Bold.eot');
  src: url('fonts/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TrebuchetMS-Bold.woff') format('woff'),
    url('fonts/TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
